extends layout

block title
  h1#title= title
  
block content
  script(src='/javascripts/about.js')
  #content
    p Hi there, this is my about page.
    p 
      | This website holds many things
      br
      | none of them are interesting
