extends layout

block title
  div#title-wrapper
    h1#title= title

block content
  p 
    | I have many bad ideas
    br
    | This page is dedicated to listing them
    
  div#ideas 
    ul
      li Wikipedia Map
      li Picture Reveal
      li Bitcoin Stackemup
      li Transit Tracker
      li JKL
