doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    body
    block navbar
    ul.navbar
      li.navbutton#home
        a(href='/') Home
      li.navbutton#about 
        a(href='/about') About
      li.navbutton#projects 
        a(href='#') Projects
    block title
    block content
    block footer
